@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-grey: #1a1a1a;
  --color-primary-light-grey: #6c7280;
  --color-accent: #3b82f6;
  --color-background: #000000;
  --color-success-green: #11b981;
  --color-warning-yellow: #f59e0b;
  --color-danger-red: #ef4444;
  --color-white: #ffffff;

  /* Fonts */
  --font-inter: "Inter", sans-serif;
  --font-jetbrains: "JetBrains Mono", sans-serif;

  /* Text */

  --text-title-small: 1.5625rem;
  --text-title-medium: 2.25rem;
  --text-title-large: 2.5rem;
  --text-title-xl: 4rem;
  --text-about: 3.75rem;
  --text-about-2: 2.19rem;
  --text-regular: 1.5rem;
  --text-small: 1rem;

  /* Radius */
  --radius-card: 1rem;
}
